@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Poppins-Regular.ttf);
  }
  
  $font-1: "font-1", sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-1;
}

html, body {
  overflow-x: hidden;
}

body{
  background-color: black;
  color: white;
}


body::-webkit-scrollbar {
  display: none;
}