.login-container {
    position: relative;

    .content {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rga(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: 15vh 85vh;

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            height: 85vh;

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2rem;
                background-color: #000000b0;
                width: 25vw;
                gap: 2rem;
                color: white;

                .container {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    input {
                        padding: 0.5rem 1rem;
                        width: 15rem;
                    }
                    h2{
                        color: #e50914;
                        font-size: 15px;
                    }

                    button {
                        padding: 0.5rem 1rem;
                        background-color: #e50914;
                        border: none;
                        cursor: pointer;
                        color: white;
                        border-radius: 0.2rem;
                        font-weight: bolder;
                        font-size: 1.05rem;
                    }
                }
            }
        }
    }
}